*{
	margin: 0;
	padding: 0;
}

main {
	display: grid;
	place-items: center;
	height: 80vh;
	font-family: 'Times New Roman', Times, serif;
}

.container {
	min-width: 300px;
	padding: 2em;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
	height: 450px;
}

.container > h1 {
	margin-bottom: 1.5em;
	text-align: center;
}
